@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Roboto", sans-serif;
}

.nav-link {
  position: relative;
  padding: 4px 0;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #facc15;
}

.nav-link.active {
  color: #facc15;
  font-weight: 600;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #facc15;
  border-radius: 2px;
}

.btn {
  color: white;
}

.btn-google {
  color: black;
}
.btn-nav {
  color: black;
}
